*{
    margin: 0;
    padding: 0;
    color: #090973;
}

td{
    text-align: center;
    height: 20px;
}

td img{
    display: inline-block;
    margin: 3% 10%;
}

#head{
    width: 80%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    background-color: #EDC832;
    text-align: center;
}
#head h1{
    margin: 0 auto;
}
#container{
    width: 80%;
    margin: 0 auto;
    background-color: #ccc;
    
}
#information{
    clear: both;
    margin-top: 10px;
    overflow: auto;
}
#basis{
    margin: 3%;
    
}
#self-skill{
    display: none;
    margin: 3%;
}
#self-skill td{
    padding: 1%;
}
#self-skill .one{
    width: 20%;
}
#self-skill .two{
    width: 60%;
}
#self-skill .three{
    width: 15%;
}
#self-skill .rank{
    text-align: left;
    text-indent: 40%;
}
#self-skill .A{
    color: red;
}
#self-skill .B{
    color: green;
}
#self-skill .C{
    color: yellow;
}
#project{
    display: none;
    margin: 3%;
    text-align: center;
}
#project td{
    padding: 1%;
}
#project .one{
    width: 10%;
}
#project .two{
    width: 15%;
}
#project .three{
    width: 20%;
}
#project .four{
    width: 40%;
}
#self-evaluation{
    margin: 3%;
    display: none;
}
#self-evaluation p{
    text-indent: 4em;
    padding: 1%;

}
#footer{
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    background-color: #9750D0;
    text-align: center;
}

.bar{
    width: 25%;
    height: 30px;
    line-height: 30px;
    float: left;
    list-style-type: none;
    background-color: #E53B6F;
    text-align: center;
}




a{
    text-decoration: none;
}
